@font-face {
    font-family: 'SF Pro Display';
    src: url(/web-frontend/assets/sf-pro-display/SFPRODISPLAYREGULAR.OTF) format('opentype');
    font-weight: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url(/web-frontend/assets/sf-pro-display/SFPRODISPLAYMEDIUM.OTF) format('opentype');
    font-weight: medium;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url(/web-frontend/assets/sf-pro-display/SFPRODISPLAYBOLD.OTF) format('opentype');
    font-weight: bold;
}

:root {
    --system-gray: #8A8A8D;
    --system-gray-hover: rgba(128, 128, 128, 0.1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to right, #ffffff, #F2F2F6, #ffffff);
}

h1 {
    font-family: 'SF Pro Display';
    font-weight: normal;
    font-size: 40px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    position: sticky;
    top: 0px;
    padding: 20px;
}

nav {
    display: flex;
    gap: 20px;
}

ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 20px;
    align-items: center;
    font-family: 'SF Pro Display';
    font-weight: normal;
    font-size: 20px;
}

nav ul li a {
    text-decoration: none; /* Removes underline from links */
    color: black; /* Keeps the link text color same as parent */
  }

nav ul li a:hover {
        color: var(--system-gray);
}

.user-avatar img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.card-container {
    display: grid;
    grid-template-columns: 300px 300px;
    gap: 25px;
    justify-content: center;
    justify-items: center;
    height: 70vh;
}

.card-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    border-radius: 20px;
    width: 300px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.card-item-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;
}

.card-item-bottom span {
    font-family: 'SF Pro Display';
    font-weight: bold;
    color: var(--system-gray);
    font-size: 20px;
}

/* CSS for button */
.button {
    display: inline-block;
    padding: 8px 20px 8px 20px;
    border-radius: 10px;
    background-color: var(--system-gray);
    color: white;
    font-family: 'SF Pro Display';
    font-weight: lighter;
    border: none;
    text-align: center;
    cursor: pointer;
}

.button:hover {
    opacity: 0.8;
}

.button:active {
    opacity: 1;
}

.cards-and-people-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    padding: 50px;
}

.icon-box {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gym-members-scroll-view {
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 70vh;
    gap: 10px;
    overflow-y: auto;
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.member {
    display: flex;
    align-items: center;
    height: 70px;
    gap: 5px;
    padding-left: 10px;
}

.member-name{
    font-family: 'SF Pro Display';
    font-weight: bold;
    font-size: 20px;
}

.member-joining-date {
    font-family: 'SF Pro Display';
    font-weight: normal;
    font-size: 15px;
    color: var(--system-gray);
}

.member:hover {
    background-color: var(--system-gray-hover);
}

.name-and-joining {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.member-image img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

#first {
    background-color: #007AFF;
}
#second {
    background-color:#FF3B30;
}

#third {
    background-color:#000000;
}

#fourth {
    background-color:#5B6770;
}

.count-box span {
    font-family: 'SF Pro Display';
    font-weight: bold;
    font-size: 25px;
    width: 30px;
    height: 30px;
}


