
.card-container {
    display: grid;
    grid-template-columns: 300px 300px;
    gap: 25px;
    justify-content: center;
    justify-items: center;
    height: 70vh;
}

.card-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    border-radius: 20px;
    width: 300px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.card-item-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;
}

.card-item-bottom span {
    font-family: 'SF Pro Display';
    font-weight: bold;
    color: var(--system-gray);
    font-size: 20px;
}

/* CSS for button */
.button {
    display: inline-block;
    padding: 8px 20px 8px 20px;
    border-radius: 10px;
    background-color: var(--system-gray);
    color: white;
    font-family: 'SF Pro Display';
    font-weight: lighter;
    border: none;
    text-align: center;
    cursor: pointer;
}

.button:hover {
    opacity: 0.8;
}

.button:active {
    opacity: 1;
}

.cards-and-people-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    padding: 50px;
}

.icon-box {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gym-members-scroll-view {
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 70vh;
    gap: 10px;
    overflow-y: auto;
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.member {
    display: flex;
    align-items: center;
    height: 70px;
    gap: 5px;
    padding-left: 10px;
}

.member-name{
    font-family: 'SF Pro Display';
    font-weight: bold;
    font-size: 20px;
}

.member-joining-date {
    font-family: 'SF Pro Display';
    font-weight: normal;
    font-size: 15px;
    color: var(--system-gray);
}

.member:hover {
    background-color: var(--system-gray-hover);
}

.name-and-joining {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.member-image img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

#first {
    background-color: #007AFF;
}
#second {
    background-color:#FF3B30;
}

#third {
    background-color:#000000;
}

#fourth {
    background-color:#5B6770;
}

.count-box span {
    font-family: 'SF Pro Display';
    font-weight: bold;
    font-size: 25px;
    width: 30px;
    height: 30px;
}


